
html.content {
  h1 { font-family: 'Rye'; }
  h2 { font-family: 'Rye'; }
  
  table.coffee-details {
    width:500px;
    float:left;
    
    td { padding:10px; }
    
    td:first-child {
      width:120px;
      text-align:right;
      font-weight:bold;
      vertical-align:top; }
      
    td:last-child { padding-left:10px; }
  }
}

