
a#logo { 
  font-family: 'Ewert', cursive;
  font-size:40px;
  font-weight:normal;
  color:#fff;
}

.alert {
  width:400px;
  margin-left:auto;
  margin-right:auto; 
  p { 
    text-align:center;
    margin:0; 
  } 
}

div.error-messages {
  h4 { color: #D40000; }
  ul {
    li { color: #BF0000; }
  }
}
