
a#logo { 
  font-family: 'Ewert', cursive;
  font-size:40px;
  font-weight:normal;
  color:#fff;
}

.alert {
  width:400px;
  margin-left:auto;
  margin-right:auto; 
  p { 
    text-align:center;
    margin:0; 
  } 
}

.clickable { cursor:pointer; }

div.error-messages {
  h4 { color: #D40000; }
  ul {
    li { color: #BF0000; }
  }
}

li.social {
  top:5px; position:relative; margin-left:14px;
  display:block; width:48px; height:48px;

  &.facebook {
    background-image: url('/assets/facebook.png');
    &:hover { background-image: url('/assets/facebook-active.png'); } 
  }

  &.twitter {
    background-image: url('/assets/twitter.png');
    &:hover { background-image: url('/assets/twitter-active.png'); }
  }
  
  &.yelp {
    background-image: url('/assets/yelp.png');
    &:hover { background-image: url('/assets/yelp-active.png'); }
  }

  &.square {
    background-image: url('/assets/square.png');
    &:hover { background-image: url('/assets/square-active.png'); }
  }
}